{% extends 'base.html.twig' %}

{% block title %}Hello FootDataController!{% endblock %}

{% block body %}

    <section id="section-center">
        {#  ------------------- file d'ariane START ------------ #}
        <div class="file-ariane mb-3">
            <a class="home-ariane" href="{{ path('app_home') }}">
                <iconify-icon class="icon" icon="ion:home-sharp" width="13" height="13"></iconify-icon>
                <span>Match&amp;Chill <span class="slash">/</span></span>
            </a>
            <a class="second-ariane" href="{{ path('app_matchsList') }}">
                Matchs 
                <span class="slash">/</span>
            </a>
            <span>{{ match.team1.teamName }} vs {{ match.team2.teamName }}</span>
        </div>
        {# --------------------- file d'ariane END -----------  #}
        
        {# ---------------  Match details card -----------------------#}

        <div id="match-card">
            <div class="match-container">
                <div class="team">
                    <img src="{{ asset('images/emblemes/' ~ match.team1.teamId ~ '.png') }}" alt="emblème de l'équipe {{ match.team1.teamName }}" class="team-logo">
                    <p class="team-name">{{ match.team1.teamName }}</p>
                  </div>
                
                <div class="match-info">
                  <p class="match-date-time">{{ match.matchDateTime |date("d-m-Y h:i") }}</p>
                  <div class="scoreboard">
                    {% if match.matchResults is not same as ([]) %}
                        <span class="score">{{ match.matchResults[1].pointsTeam1 }} </span> 
                     {% endif %}
    
                    <span class="dash">-</span>
    
                    {% if match.matchResults is not same as ([]) %}
                    <span class="score">{{ match.matchResults[1].pointsTeam2 }} </span> 
                    {% endif %}
                  </div>
                  <p class="match-status">{{status}}</p>
                </div>
                
                <div class="team">
                  <img src="{{ asset('images/emblemes/' ~ match.team2.teamId ~ '.png') }}" alt="emblème de l'équipe {{ match.team2.teamName }}" class="team-logo">
                  <p class="team-name">{{ match.team2.teamName }}</p>
                </div>
            </div>
            <nav id="match-nav">
                <ul class="match-nav-list">
                    <li class="match-nav-item"><a id="card-discussion" href="">discussions</a></li>
                    <li class="match-nav-item"><a id="card-event" href="">évènements</a></li>
                </ul>
            </nav>
            
            <div class="card-body">
                <div class="pagination">
                    <button class="prev-page">◀️ Précédent</button>
                    <span class="current-info" id="pagination-info" title="Nombre de page"></span>
                    <button class="next-page">Suivant ▶️</button>
                </div>
                <div class="post-message">
                    <div class="user-card">
                        <img class="avatar" src="{{ asset('images/icon/user.svg') }}" alt="avatar de userName">
                        <a href="#user">UserName</a>
                    </div>
                    <div class="post-form">
                        {{ form_start(form) }}
                    
                        {# Rendu manuel du champ 'text' #}
                        {{ form_row(form.text) }}
                        {# Bouton de soumission #}
                        <button type="submit" class="btn btn-success d-block mx-auto my-2 ">Publier</button>
                    
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="discussion">
                    <div class="message">
                        <div class="user-card">
                            <img class="avatar" src="{{ asset('images/icon/user.svg') }}" alt="avatar de userName">
                            <a href="#user">UserName</a>
                        </div>
                        <div class="content">
                            <div class="text" readonly="true"> electus qui. Atque eos eligendi laborum nihil earu111111111111111111111111111111111111111111111111111m!</div>
                            <div class="content-option">
                                <span class="time">Mer 10 janvier à 22:02</span>
                                <a href="" class="edit"><iconify-icon title="éditer" icon="tabler:edit" style="color: rgb(197, 197, 0);" height="30" width="30"></iconify-icon></a>
                                <a href="" class="delete"><iconify-icon title="supprimer" icon="material-symbols:delete" style="color:  #9c001a;" height="30" width="30"></iconify-icon></a>
                                <span class="answer" title="répondre"><iconify-icon icon="ic:outline-question-answer" style="color: blue;" width="30" height="30"></iconify-icon></span>
                                <form action="" method="post" id="signal-id" class="signal-form">
                                    <input type="checkbox" name="report" id="report" value="1">
                                    <label for="report">Signaler</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discussion">
                    <div class="message">
                        <div class="user-card">
                            <img class="avatar" src="{{ asset('images/icon/user.svg') }}" alt="avatar de userName">
                            <a href="#user">UserName</a>
                        </div>
                        <div class="content">
                            <div class="text" readonly="true"> electus qui. Atque eos eligendi laborum nihil earum!</div>
                            <div class="content-option">
                                <span class="time">Mer 10 janvier à 22:02</span>
                                <a href="" class="edit"><iconify-icon title="éditer" icon="tabler:edit" style="color: rgb(197, 197, 0);" height="30" width="30"></iconify-icon></a>
                                <a href="" class="delete"><iconify-icon title="supprimer" icon="material-symbols:delete" style="color:  #9c001a;" height="30" width="30"></iconify-icon></a>
                                <span class="answer" title="répondre"><iconify-icon icon="ic:outline-question-answer" style="color: blue;" width="30" height="30"></iconify-icon></span>
                                <form action="" method="post" id="signal-id" class="signal-form">
                                    <input type="checkbox" name="report" id="report" value="1">
                                    <label for="report">Signaler</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}