{% extends 'base.html.twig' %}

{% block title %}Hello FootDataController!{% endblock %}
{% block meta_description %}
    page de détails d'un match
{% endblock %}

{% block body %}

    <section id="section-center">
        {#  ------------------- file d'ariane START ------------ #}
        <div class="file-ariane mb-3">
            <a class="home-ariane" href="{{ path('app_home') }}">
                <iconify-icon class="icon" icon="ion:home-sharp" width="13" height="13"></iconify-icon>
                <span>Match&amp;Chill <span class="slash">/</span></span>
            </a>
            <a class="second-ariane" href="{{ path('app_matchsList') }}">
                Matchs 
                <span class="slash">/</span>
            </a>
            <span>{{ match.team1.shortName }} vs {{ match.team2.shortName }}</span>
        </div>
        {# --------------------- file d'ariane END -----------  #}
        
        {# ---------------  Match details card -----------------------#}

        <div id="match-card" class="match-card">
            {# ------------------  match container  ------------#}
            <div class="match-container">
                <div class="team">
                    <img src="{{ asset('images/emblemes/' ~ match.team1.teamId ~ '.png') }}" alt="emblème de l'équipe {{ match.team1.shortName }}" class="team-logo">
                    <p class="team-name">{{ match.team1.shortName }}</p>
                  </div>
                
                <div class="match-info">
                    <p class="match-date-time">{{ match.matchDateTime |date("d-m-Y h:i") }}</p>
                    <div class="scoreboard">
                        {% if match.matchResults is not same as ([]) %}

                            {% if match.matchResults[1].pointsTeam1 is not same as (null) %}
                                <span class="score">{{ match.matchResults[1].pointsTeam1 }} </span>
                            {% else %}
                                <span class="score">{{ match.matchResults[0].pointsTeam1 }} </span>
                            {% endif %}

                            <span class="dash">-</span>

                            {% if match.matchResults[1].pointsTeam2 is not same as (null) %}
                                <span class="score">{{ match.matchResults[1].pointsTeam2 }} </span>
                            {% else %}
                                <span class="score">{{ match.matchResults[0].pointsTeam2 }} </span>
                            {% endif %}
                            
                        {% else %}
                            <span>Aucun résultat disponible</span>
                        {% endif %}
                    </div>
                    <p class="match-status">{{status}}</p>
                </div>
                
                <div class="team">
                  <img src="{{ asset('images/emblemes/' ~ match.team2.teamId ~ '.png') }}" alt="emblème de l'équipe {{ match.team2.shortName }}" class="team-logo">
                  <p class="team-name">{{ match.team2.shortName }}</p>
                </div>
            </div>
            {# ---------------- match-nav ----------------------- #}
            <nav id="match-nav">
                <ul class="match-nav-list">
                    <li class="match-nav-item"><span id="btn-discussion" href="">discussions</span></li>
                    <li class="match-nav-item"><span id="btn-classement" href="">classement</span></li>
                    {# <li class="match-nav-item"><span id="btn-events" href="">évènements</span></li> #}
                </ul>
            </nav>
            {# ----------- card-body ------------------------------ #}
            <div class="card-body">
                {# ------- card-discussion ------------------------- #}
                <div id="card-discussion" class="match-card">
                    <div class="pagination">
                        <button class="prev-page">◀️ Précédent</button>
                        <span class="current-info" id="pagination-info" title="Nombre de page"></span>
                        <button class="next-page">Suivant ▶️</button>
                    </div>
                    {# on affiche le formulaire si le user est connecté #}
                    {% if app.user %}
                        <div class="post-message">
                            {# foulaire contenant une textarea pour rediger un commentaire #}
                            <form action="{{ path('commentMatch_add', {'matchId': matchId}) }}" method="post" id="post-form">
                                            <textarea name="comment-match" cols="30" rows="2" class="form-control" placeholder="écrire un commentaire ..." required></textarea>
                                            <!-- Champ caché pour le token CSRF -->
                                            <input type="hidden"  name="_csrf_token" value="{{ tokenComment }}">
                                <input type="submit" value="submit" class="comment-sumbit button">
                            </form>
                        </div>
                    {% else %}
                    {# si le user n'est pas connecté on affiche un message et des liens pour se connecter ou s'inscrire #}
                        <div>
                            <p class="text text-center">Vous devez être connecté pour poster un message</p>
                            <p class="d-flex justify-content-center gap-3 fw-bold">
                                <a href="{{ path('app_login') }}" class="text text-primary">se connecter</a>
                                <a href="{{ path('app_register') }}" class="text text-danger">s'inscrire</a>
                            </p>
                        </div>
                    {% endif %}
                   {# ------- Liste des commentaires du match --------------------  #}
                    <div class="comment-list">
                        {% if comments is defined and comments is not empty %}
                            {% for comment in comments %}
                                <div class="message">
                                    <div class="user-card">
                                        <img class="avatar" src="{{ asset('uploads/avatars/'~ comment.user.avatar) }}" alt="avatar de {{comment.user.pseudo}}">
                                        <a href="#user">{{ comment.user.pseudo }}</a>
                                    </div>
                                    <div class="content">
                                        <div class="comment"  readonly="true"> {{comment.text}} </div>
                                        <div class="content-option">
                                            <span class="time"> {{ comment.creationDate|date('d-m-Y H:i') }} </span>

                                            {% if app.user == comment.user %}
                                                {# Edit comment #}
                                                <span class="edit" data-comment-id="{{ comment.id }}" data-comment-text="{{ comment.text|e('html_attr') }}" ><iconify-icon title="éditer" icon="tabler:edit" style="color: rgb(197, 197, 0);" height="30" width="30"></iconify-icon></span>
                                                {# Deleted comment #}

                                                <form action="{{ path('commentMatch_delete', {'matchId': matchId, 'id': comment.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
                                                <!-- Champ caché pour le token CSRF -->
                                                    <input type="hidden"  name="token-delete-comment" value="{{ tokenDelete }}">
                                                    <button type="submit" class="delete">
                                                        <iconify-icon title="supprimer" icon="material-symbols:delete" style="color:  #9c001a;" height="30" width="30"></iconify-icon>
                                                    </button>
                                                </form>
                                            {% endif %}
                                            {# Commentaire Signaler #}
                                            {# <form action="" method="post" id="signal-id" class="signal-form">
                                                <input type="checkbox" name="userSignaled" id="report" value=" {{comment.id}} ">
                                                <label for="report">Signaler</label>
                                            </form> #}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text text-center">Aucun commentaire disponible pour ce match.</p>
                        {% endif %}
                    </div>
                  
                </div>
                {#  ---------- card-table--------------------------- #}
                <div id="card-classement" class="match-card display-none">
                    <table id="league-table" class="league-table table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">équipes</th>
                            <th scope="col">matchs</th>
                            <th scope="col">victoirs</th>
                            <th scope="col">défaites</th>
                            <th scope="col">nul</th>
                            <th scope="col">but +</th>
                            <th scope="col">but -</th>
                            <th scope="col">diff</th>
                            <th scope="col">points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set counter = 1 %}
                            {% for position in table %}
                                
                            <tr>
                                <td scope="row">{{counter}}</td>
                                <td class="fw-bold"> {{position.teamName}} </dh>
                                <td> {{position.matches}} </td>
                                <td> {{position.won}} </td>
                                <td> {{position.lost}} </td>
                                <td> {{position.draw}} </td>
                                <td> {{position.goals}} </td>
                                <td> {{position.opponentGoals}} </td>
                                <td> {{position.goalDiff}} </td>
                                <td> {{position.points}} </td>
                                {% set counter = counter + 1 %}
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                {# ------------------- card-event ---------------------- #}
                <div id="card-events" class="match-card display-none">
        
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="editCommentModalLabel">Modifier le Commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form id="editCommentForm">
                    <input type="hidden" id="commentId" name="commentId">
                    <div class="mb-3">
                    <label for="commentText" class="col-form-label">Commentaire:</label>
                    <textarea class="form-control" id="commentText" name="commentText" required></textarea>
                    </div>
                    <!-- Champ caché pour le token CSRF -->
                    <input type="hidden" id="token-edit-comment"  name="token-edit-comment" value="{{ tokenEdit }}">
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer les Changements</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}