{% extends 'base.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block body %}
{# ----------------- Section Center Start ---------------  #}

<div id="section-center" class="section-center">
    {#  ------------------- file d'ariane ------------ #}
    <div class="file-ariane mb-3">
        <a class="home-ariane" href="{{ path('app_home') }}">
            <iconify-icon class="icon" icon="ion:home-sharp" width="13" height="13"></iconify-icon>
            <span>Match&amp;Chill <span class="slash">/</span></span>
        </a>
        <a class="second-ariane" href="">évènéments <span class="slash">/</span></a>
        <span class="second-ariane">modifier un évènement <span class="slash">/</span></span>
    </div>

    {# ----------- formulaire création d'évènements --------------------------------- #}
    
    <div class="container mt-5">
        <h1 class="mb-4 fs-2 text-center title-event">Modifier un Événement</h1>
       
        {{ form_start(form, {'action': path('app_events_edit', {'id': id}), 'method': 'POST'}) }}

            {{ form_row(form.category) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.description) }}
                </div>
            </div>
         
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.matchId) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.numberOfPlaces) }}
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
       
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.adress) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.zipCode) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.country) }}
                </div>
            </div>

            {{ form_row(form.honeyPot) }}

            <button type="submit" class="btn btn-primary mb-5 d-block mx-auto px-5">Modifier</button>

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}