{% extends 'base.html.twig' %}

{% block title %}Détails d'un évènement{% endblock %}
{% block meta_description %}
    détails d'un évènement
{% endblock %}

{% block body %}
{# ----------------- Section Center Start ---------------  #}

<div id="section-center" class="section-center">
    {#  ------------------- file d'ariane ------------ #}
    <div class="file-ariane mb-3">
        <a class="home-ariane" href="{{ path('app_home') }}">
            <iconify-icon class="icon" icon="ion:home-sharp" width="13" height="13"></iconify-icon>
            <span>Match&amp;Chill <span class="slash">/</span></span>
        </a>
        <a class="second-ariane" href="{{path("app_events")}}">évènéments <span class="slash">/</span></a>
        <span>Détails d'un évènement</span>
    </div>

    {# ----------- Afficher un évènement --------------------------------- #}
    
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <div class="event-card container">
                    <div class="event-header d-flex align-items-center mb-4">
                        <img src=" {{asset('uploads/avatars/'~ event.user.avatar)}} " class="rounded-circle me-2" alt="Avatar de {{event.user.pseudo}}" style="width: 60px; height: 60px;">
                        <div class="ml-3">
                        <h2 class="event-name">{{event.name}}</h2>
                        <p class="organizer-name">Organisé par {{event.user.pseudo}}</p>
                        <small>{{event.creationDate |date("m/d/Y H:i")}} </small>
                        </div>
                    </div>
                    <fieldset class="event-info mb-3">
                        <legend>Informations de l'événement</legend>
                            <strong>Statut :</strong> 
                            {% if availablePlaces %}
                            <p><span class="label">Statut :</span> <span class="bg-success rounded fw-bold text-light py-1 px-3">Ouvert: {{ event.usersParticipate |length }} / {{event.numberOfPlaces}}</span> </p>
                            {% else %}
                                <p><span class="label">Statut :</span> <span class="bg-danger rounded fw-bold text-light py-1 px-3">Fermé: {{ event.usersParticipate |length }} / {{event.numberOfPlaces}}</span> </p>
                            {% endif %}
                        <p><span class="label">Match :</span> <strong>{{ match.team1.shortName }}</strong> Vs  <strong>{{ match.team2.shortName }}</strong></p>
                        <p><span class="label">Catégorie :</span> {{event.category.name}}</p>
                        <p><span class="label">Description :</span>  {{event.description}}</p>
                    </fieldset>
                    <fieldset class="event-timing mb-3">
                        <legend>Horaires</legend>
                        <p><span class="label">Début :</span> {{event.startDate |date("m/d/Y H:i:")}}</p>
                        <p><span class="label">Fin :</span> {{event.endDate |date("m/d/Y H:i:")}}</p>
                    </fieldset>
                    <fieldset class="event-location">
                        <legend>Localisation</legend>
                        <p><span class="label">Adresse :</span> {{event.adress}}</p>
                        <p><span class="label">Ville :</span>{{event.city}} <br> <span class="label">Code postal :</span> {{event.zipCode}}</p>
                        <p><span class="label">Pays :</span> {{event.country}}</p>
                    </fieldset>
                </div>
                  
                {# ---------- Bouton supprimer modifier ------------- #}
                {% if (event.user == app.user) or is_granted('ROLE_ADMIN') %}
                    <div class="d-flex justify-content-center my-3">
                        <a href="{{ path('app_events_edit', {'id': event.id}) }}" class="btn btn-primary me-2">Modifier</a>
                        <a href="{{path('app_events_delete', {'id': event.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                {% endif %}
            
                
                {# -------------Bouton Participer Annuler ---------  #}

                {# ----- S'il reste des places disponible et si user n'est pas inscrit #}
                {% if event.user != app.user  %}

                    {% if availablePlaces and not participate %}
                        <div class="col text-center my-3">
                            <a href="{{ path('app_events_participate', {"id": event.id}) }}" class="btn btn-success d-inline-block mx-auto btn-lg">Participer à l'évènement</a>
                        </div>
                    {% elseif participate %}
                        <div class="col text-center my-3">
                            <a href="{{ path('app_events_unparticipate', {"id": event.id}) }}" class="btn btn-danger d-inline-block mx-auto btn-lg">Se désinscrire de l'évènement</a>
                        </div>
                    {% else %}
                        <div class="col text-center my-3">
                            <p class="text-danger fw-bold">
                                Peut-être afficher un message indiquant qu'il n'y a pas de places disponibles ou que l'événement est complet
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
                <div id="map" class="my-3" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}